* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Login Page */

.login-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login {
  position: relative;
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#login img {
  position: absolute;
  height: 450px;
  width: 500px;
  z-index: -2;
  border-radius: 8px;
}

.login {
  background-color: white;

  z-index: 99;
  height: 400px;
  width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  box-sizing: border-box;
  border-radius: 8px;
}

.login h2 {
  font-family: sans-serif;
  color: green;
}

.login-btn {
  border: 2px solid rgb(171, 188, 171);
  width: 300px;

  padding: 10px 25px;
  border-radius: 5px;
  font-weight: 700;
}

.login-btn:hover {
  background-color: rgba(0, 128, 0, 0.262);
}

.login-input {
  width: 300px !important;
}

/* todo Page */

.todo-container {
  width: 100vw;
  overflow: hidden;
}

.todo-header {
  width: 100%;
  position: relative;
}

.todo-header img {
  height: 100px;
  width: 100%;
  object-fit: cover;
  filter: grayscale(0.5);
}

.title {
  color: white !important;
  position: absolute;
  top: 2%;
  left: 35%;
  font-size: 4rem;
}

.logout-btn {
  position: absolute;
  background: transparent;
  border: 2px solid rgb(171, 188, 171);
  top: 2%;
  right: 2%;
  padding: 10px 25px;
  border-radius: 10px;
  font-weight: 700;
  color: rgb(250, 255, 250) !important;
}

.logout-btn:hover {
  background-color: rgba(10, 80, 10, 0.441);
  color: white;
}

/* list */

.list-heading {
  width: 650px;
  margin-top: 30px;
  display: flex;
  gap: 55%;
}

.task-heading {
  padding-left: 20px;
  font-size: 17px;
  font-family: sans-serif;
  font-weight: 600;
  color: gray;
}

.priority-heading {
  font-size: 17px;
  font-family: sans-serif;
  font-weight: 600;
  color: gray;
}

.text {
  width: 450px;
  height: 55px !important;
  outline-color: rgba(0, 0, 255, 0.57);
  padding-left: 8px;
  border-radius: 4px;
}

.select {
  width: 100px;
}

.list {
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.weather {
  color: rgb(66, 65, 65);
  width: 650px;
  height: 50px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-top: 50px;
  font-weight: 500;
  font-size: 20px;
}

.todos {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  flex-direction: column;
}

.todo-input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.todo-input #text {
  width: 450px;
  height: 40px;
  font-size: 20px;
}

.todo-input .add-todo-btn {
  background: purple;
  border: 2px solid rgb(171, 188, 171);
  padding: 10px 25px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 20px;
  color: white;
  height: 58px;
  width: 100px;
}

.list-item {
  margin-top: 20px;
}

#checkbox {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.lists {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 40px;
  width: 650px;
  background-color: rgba(0, 128, 0, 0.448);
  margin-top: 5px;
  border-radius: 8px;
}

/* list */

.list-text {
  flex: 0.6;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  font-weight: 500;
  font-size: 20px;
}

.list-btn {
  flex: 0.4;
  border-radius: 10px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.list-btn button {
  background: rgb(14, 165, 17);
  border: 2px solid rgb(171, 188, 171);
  padding: 10px 25px;
  border-radius: 10px;
  font-weight: 700;
  color: white;
}

.todo-priority {
  height: 25px;
  width: 80px;
  font-size: 15px;
  color: white;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 80px;
  margin-top: 7px;
}

/* query selectors */

@media (min-width: 300px) and (max-width: 700px) {
  .title {
    top: 5%;
    left: 25%;
    font-size: 2rem;
  }

  .logout-btn {
    padding: 5px 10px;
    font-size: 13px;
  }

  .weather {
    color: rgb(66, 65, 65);
    width: 80%;
    height: 40px;
    margin-top: 20px;
    font-size: 15px;
  }

  .text {
    width: 90% !important;
    height: 40px !important;
    outline-color: rgba(0, 0, 255, 0.57);
    padding-left: 8px;
    border-radius: 4px;
    font-size: 13px !important;
  }

  .todo-input {
   width: 90%;
  }

 
  .todo-input .add-todo-btn {
    padding: 5px 15px;
    font-weight: 600;
    font-size: 13px;
    height: 45px;
    width: 100px;
  }

  
.list{
    width: 100%;
}
  .todos{
    width: 100%;
  }

  .lists {
    width: 100%;
   
  }
  
  /* list */
  
  .list-text {
    flex: 0.6;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    font-weight: 500;
    font-size: 14px;
  }
  
  .list-btn {
    flex: 0.4;
    border-radius: 10px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
  }
  
  .list-btn button {
    background: rgb(14, 165, 17);
    border: 2px solid rgb(171, 188, 171);
    padding: 0px 7px;
    font-size: 13px;
    margin: 0px 5px;
   
  }
  
  .todo-priority {
    height: 25px;
    width: 70px;
    font-size: 12px;
   
  }

  .list-item {
width: 80%; 
 }
  
}
